<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation to Join <%= organisationName %></title>
</head>
<body>
    <p>Hi <%= firstName %>,</p>

    <p>You’ve been invited to join <strong><%= organisationName %></strong> as a <strong><%= role %></strong>. To complete your registration, please review and confirm your participation by clicking the link below:</p><br>

    <p><a href="<%= invitationLink %>" style="padding: 10px 15px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">Accept Invitation</a></p><br>

    <p>Copy this link and paste in your browser if the above button doesnt work: <%= invitationLink %></p>

    <p>If you didn’t expect to receive this invitation, please disregard this message.</p>

    <p>If you have any questions or need assistance, feel free to contact us.</p>

    <p>Best regards,</p>
    <p>The Simplip2p Team.</p>
</body>
</html>
